{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'css/blog.css' %}" rel="stylesheet" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="wrapper">
        <div class="content">
            <h1>The Inkwell Collective</h1>
            {% block content %}
            {% endblock %}
        </div>
        <div class="sidebar">
            <div class="sidebarinner">
                <!-- base.html or relevant template -->
                {% if user.is_authenticated %}
                <form id="logout-form" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="nobutton">Logout</button>
                </form>
                {% else %}
                    <a class="nobutton" href="{% url 'login' %}">Login |</a> 
                    <a class="nobutton" href="{% url 'register' %}"> Register</a>
                {% endif %}
                <p>Welcome back {{ user.username }}, we've been expecting you!</p>
            </div>
        </div>
    </div>
  </body>
</html>