{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% load humanize %} 

{% block content %}
    <h2>{{ post.title }}</h2>
    <p class="date">
        Published {{ post.created_on|naturalday }} by {{ post.author }}
    </p>
    {{ post.body|linebreaks }}
    {% with comments.count as total_comments %}
        <h2>
            {{ total_comments }} comment{{ total_comments|pluralize }}
    {% endwith %}
    {% for comment in comments %}
    <div class="comment">
      <p class="info">
        Comment {{ forloop.counter }} by {{ comment.user }}
        {{ comment.created_on }}
      </p>
      {{ comment.body|linebreaks }}
      {% if comment.user == user %}
        <a href="{% url 'blog:edit_comment' comment.id %}">Edit</a>
        <a href="{% url 'blog:delete_comment' comment.id %}">Delete</a>
    {% endif %}
    </div>
  {% empty %}
    <p>There are no comments yet.</p>
  {% endfor %}
  {% if user.is_authenticated %}
    {% include "blog/post/includes/comment_form.html" %}
  {% else %}
    <p>Please log in to leave a comment.</p>
  {% endif %}
{% endblock %}

{% comment %} the {% with %} template tag is useful for avoiding hitting the 
database or accessing expensive methods multiple times  {% endcomment %}